.image {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, black, transparent), url('/assets/background.png');
    background-size: cover;

    .highlights {
        padding: 10% 0 0 10%;
        color: #e9ebf0;
        font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif;

        h1 {
            font-size: 3em;
        }
        p {
            margin: 2% 40% 2% 0;
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .intro-button {
        width: 150px;
    }
}

.questions-container {
    display: flex;
    flex-direction: column;
    height: 1200px;
    background-color: rgb(238, 238, 238);
    padding: 5% 20%;

    .start-button {
        width: 150px;
        margin-left: 65px;
    }

    .question-container {
        flex: 0 1 auto;
        width: 100%;
        background-color: white;
        margin-bottom: 40px;

        .question-content {
            padding: 25px 0 25px 65px;
            mat-form-field {
                margin-right: 25px;
            }

            .field-long {
                width: 385px;
            }
        }
    }
}